<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeNest - Home</title>
</head>
<body>
    <section id="header">
        <div class="nav-section-1">
            <p class="site-title">
                <span class="code-text">Code</span>
                <span class="nest-text">Nest</span>
            </p>
            <a class="home nav-btn" href="/src/pages/home.html">Home</a>
            <a class="courses nav-btn" href="/src/pages/courses.html">Courses</a>
        </div>
        <div class="nav-section-2">
            <a class="courses nav-btn" href="/src/pages/bugReport.html">Bug Report</a>
            <a class="streak nav-btn" href="/src/pages/streak.html">Streak</a>
            <a class="signup nav-btn" href="/src/pages/signup.html">Sign Up</a>
        </div>
    </section>
</body>
</html>