body {
    overflow-x: hidden;
}

.content-banner {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 15px;
    background-color: #efe2e2;
}

.content-container {
    width: 100vw;

    height: auto;
    min-height: calc(100vh + 25em);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 2em 11em;
}

.content-navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.8em 2em;
    background-color: #1e1e1e;

    font-size: 20px;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-navigator p {
    color: white;
}

.content-navigator button {
    padding: 0;
    width: 9em;
    height: 2.7em;
    font-weight: 500;
}

.content-navigator .btn-previous {
    background-color: rgb(41, 66, 120);
}

.content-navigator .btn-next {
    background-color: rgb(0, 115, 255);
}

#content-icon-container svg {
    width: 40px;
}

#navigation-content-icon-container svg {
    fill: white;
    width: 40px;
}

.lesson-content {
    width: auto;
}

.lesson-content h1,
.lesson-content h2,
.lesson-content h3,
.lesson-content p {
    margin: 0.5em 0;
}

/* Markdown parser sometimes appends empty paragraphs */
.lesson-content p:empty {
    display: none;
}

.lesson-content ul,
.lesson-content ol {
    padding-left: 40px;
    margin: 0.5em 0;
}

.questions-container {
    width: 80%;
}

.question {
    padding: 100px 80px 100px 80px;
    margin-bottom: 5em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 30px;

    border: 2px solid black;
    border-left: 15px solid #b6d2f3;

    position: relative;
}

.question .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    gap: 30px;
    width: 80%;

    line-height: 50px;
}

.question h3 {
    font-size: 20px;
    color: #1a1a1a;
}

.question .quiz-options {
    width: 100%;
    height: 30%;

    display: contents;
    align-items: flex-start;
    justify-content: center;

    gap: 20px;
}

.question .quiz-btn {
    width: 200px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-color: #d9d9d9;
    color: #1a1a1a;
    font-weight: 700;
    font-size: 20px;

    width: 80%;
}

.progress-bar-container {
    margin-bottom: 2em;
}

.progress-bar {
    background-color: white;
    border-radius: 15px;
    border: solid 1px black;
    height: 2.2em;
}

.progress-bar-progress {
    background-color: var(--primary-color);
    border-radius: 15px;
    width: 0%;
    height: 100%;

    display: flex;
    justify-content: right;
    align-items: center;

    transition: all 0.3s ease;
}

#questions-remaining-text {
    margin-top: 0.5em;
    text-align: right;
    font-size: 20px;
}

#questions-answered-text {
    margin-right: 1em;
    font-size: 20px;
    text-align: right;

    overflow: hidden;
}

.retrieval-tip {
    font-size: 30px;
    margin-bottom: 20px;
}

.question #retrieval-input-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.question .retrieval-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 20px;
}

.question em {
    font-size: 35px;
}

.question input {
    width: 10em;
    height: 1.5em;
    padding: 0 10px;
    font-size: 30px;
    border-radius: 5px;
    outline: none;
    background-color: lightgray;
    border: none;
    margin-right: 0.2em;
}

.question input:disabled {
    color: black;
}

.retrieval-status-container {
    position: absolute;
    right: 150px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
