body {
    font-family: sans-serif;
}

:root {
    --secondary-color: #183354;
}

.streak-table {
    width: 200px;
    height: 200px;
    background-color: #242424;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #DDDDDD;
}

#upper-table {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.arrow {
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

.current-month {
    font-size: 20px;
}

#middle-table {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#bottom-table {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #DDDDDD;
    border-radius: 50%;
    margin-left: 9px;
}

