<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="streak-table">
        <div id="upper-table">
            <span class="arrow left">🠈</span>
            <span class="current-month">April</span>
            <span class="arrow right">🠊</span>
        </div>
        <div id="middle-table">
            <span class="day">M</span>
            <span class="day">T</span>
            <span class="day current">W</span>
            <span class="day">T</span>
            <span class="day">F</span>
            <span class="day">S</span>
            <span class="day">S</span>
        </div>
        <div id="bottom-table">
            <!-- load in the dots via javascript -->
             <div class="row 1"></div>
             <div class="row 2"></div>
             <div class="row 3"></div>
             <div class="row 4"></div>
             <div class="row 5"></div>
        </div>

    </div>

</body>
</html>